 <header style="background-image: url('https://cftaskforce.files.wordpress.com/2016/01/bg-header-2.png')">
    <div class="intro-content">
        <div class="brand-name">Victory-360 Fundraising</div>
        <hr class="colored">
        <div class="brand-name-subtext">Empowering American Legion departments with the tools and services needed for successful fundraising </div>
    </div>
    <div class="scroll-down">
        <a class="btn page-scroll" href="#about"><i class="fa fa-angle-down fa-fw"></i></a>
    </div>
</header>
<section id="about">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12 wow fadeIn">
                <h1>Veterans Helping Veterans</h1>
                <p>We're a veteran owned and operated business</p>
                <hr class="colored">
            </div>
        </div>
        <div class="row content-row">
            <div class="col-md-6 col-sm-6 wow fadeIn" data-wow-delay=".2s">
                <%= image_tag("http://placehold.it/555x330") %>
            </div>
            <div class="col-md-6 col-sm-6 wow fadeIn" data-wow-delay=".4s">
                <p>
                    Raw denim sartorial try-hard tumblr. Gastropub gluten-free hella put a bird on it sartorial. Art party poutine 8-bit beard chambray biodiesel. Godard art party bicycle rights whatever bitters. Kinfolk yuccie pickled banjo, artisan vegan cray everyday carry biodiesel. Single-origin coffee keytar keffiyeh, intelligentsia fanny pack drinking vinegar skateboard chambray etsy synth church-key authentic deep v salvia. Kogi man bun flannel yuccie plaid 90's, four dollar toast lumbersexual tumblr retro poutine.
                </p>

                <p>
                    Narwhal sustainable biodiesel church-key celiac leggings lo-fi. +1 portland VHS mlkshk. Letterpress direct trade four dollar toast chartreuse asymmetrical. Franzen next level slow-carb, pork belly fanny pack flannel beard cardigan austin 
                </p>
            </div>
        </div>
    </div>
</section>

<section id="customers">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <%= image_tag("american-legion-logo-trans.gif", id: "american-legion-logo", alt: "American Legion Logo")  %>
                <h2>Trusted By</h2>
                <hr class="colored">
                <p>the following American Legion Departments</p>
            </div>
        </div>
        <div class="row content-row text-center">
            <div class="col-lg-3">
                <%= image_tag('ohio-outline.svg') %>
                <p>Ohio</p>
            </div>
            <div class="col-lg-3">
                <%= image_tag('pennsylvania-outline.svg') %>
                <p>Pennsylvania</p>
            </div>
            <div class="col-lg-3">
                <%= image_tag('wyoming-outline.svg') %>
                <p>Wyoming</p>
            </div>
            <div class="col-lg-3">
                <%= image_tag('minnesota-outline.svg') %>
                <p>Minnesota</p>
            </div>
        </div>
    </div>
</section>

<section id="solutions" class="services bg-gray">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12 wow fadeIn">
                <h2>Solutions Focused</h2>
                <hr class="colored">
                <p>We're no cookie cutter agency. We're with you from the beginning to the end to deliver a world class fundraising campaign.</p>
            </div>
        </div>
        <div class="row content-row">
            <div class="col-md-4 wow fadeIn" data-wow-delay=".2s">
                <div class="media">
                    <div class="pull-left">
                        <%= fa_icon 'photo'%>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Design</h3>
                        <p>
                            Keytar meditation meggings vegan, keffiyeh aesthetic sartorial bushwick selvage YOLO chartreuse synth kombucha bitters. Man bun williamsburg kogi umami narwhal, biodiesel iPhone. 8-bit ugh synth cray irony.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 wow fadeIn" data-wow-delay=".4s">
                <div class="media">
                    <div class="pull-left">
                        <%= fa_icon "pencil" %>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Copy</h3>
                        <p>
                            Keytar meditation meggings vegan, keffiyeh aesthetic sartorial bushwick selvage YOLO chartreuse synth kombucha bitters. Man bun williamsburg kogi umami narwhal, biodiesel iPhone. 8-bit ugh synth cray irony.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 wow fadeIn" data-wow-delay=".6s">
                <div class="media">
                    <div class="pull-left">
                        <%= fa_icon "print" %>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Print</h3>
                        <p>
                            Keytar meditation meggings vegan, keffiyeh aesthetic sartorial bushwick selvage YOLO chartreuse synth kombucha bitters. Man bun williamsburg kogi umami narwhal, biodiesel iPhone. 8-bit ugh synth cray irony.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row content-row">
            <div class="col-md-4 wow fadeIn" data-wow-delay=".6s">
                <div class="media">
                    <div class="pull-left">
                        <%= fa_icon "envelope" %>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Mail & Postal Logistics</h3>
                        <p>
                            Keytar meditation meggings vegan, keffiyeh aesthetic sartorial bushwick selvage YOLO chartreuse synth kombucha bitters. Man bun williamsburg kogi umami narwhal, biodiesel iPhone. 8-bit ugh synth cray irony.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 wow fadeIn" data-wow-delay=".6s">
                <div class="media">
                    <div class="pull-left">
                        <%= fa_icon "lock" %>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Caging</h3>
                        <p>
                            Keytar meditation meggings vegan, keffiyeh aesthetic sartorial bushwick selvage YOLO chartreuse synth kombucha bitters. Man bun williamsburg kogi umami narwhal, biodiesel iPhone. 8-bit ugh synth cray irony.
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 wow fadeIn" data-wow-delay=".6s">
                <div class="media">
                    <div class="pull-left">
                        <%= fa_icon "desktop" %>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Online</h3>
                        <p>
                            Keytar meditation meggings vegan, keffiyeh aesthetic sartorial bushwick selvage YOLO chartreuse synth kombucha bitters. Man bun williamsburg kogi umami narwhal, biodiesel iPhone. 8-bit ugh synth cray irony.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<aside class="cta-quote" style="background-image: url('https://cftaskforce.files.wordpress.com/2016/01/soldiers-laughing.jpg')">
    <div class="container wow fadeIn">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <span class="quote">
                    America was built on courage, on imagination and an unbeatable determination to do the job at hand.
                </span>
                <hr class=" colored">
            </div>
        </div>
    </div>
</aside>
<section id="process">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12 wow fadeIn">
                <h1>Our Process</h1>
                <p>No two projects are alike. We don't sell a specific product. We're here to build and execute a solution that's right for you.</p>
                <hr class="colored">
            </div>
        </div>
        <div class="row content-row">
            <div class="col-md-6 col-sm-6 wow fadeIn" data-wow-delay=".2s">
                <%= image_tag("https://static.pexels.com/photos/7095/people-coffee-notes-tea.jpg", width:"500px", height:"300px") %>
            </div>
            <div class="col-md-6 col-sm-6 wow fadeIn" data-wow-delay=".4s">
                <h3 class="process-header">Client Discovery</h3>
                <p>
                    Keytar meditation meggings vegan, keffiyeh aesthetic sartorial bushwick selvage YOLO chartreuse synth kombucha bitters. Man bun williamsburg kogi umami narwhal, biodiesel iPhone. 8-bit ugh synth cray irony, fingerstache affogato. Tumblr yr affogato, neutra bushwick pour-over +1 XOXO readymade offal plaid yuccie cray. Synth readymade 90's meh 3 wolf moon, normcore sriracha franzen yuccie wolf. You probably haven't heard of them meggings lumbersexual
                </p>
            </div>
        </div>
        <div class="row content-row">
            <div class="col-md-6 col-sm-6 wow fadeIn" data-wow-delay=".4s">
                <h3 class="process-header">Strategy Formulation</h3>
                <p>
                    Keytar meditation meggings vegan, keffiyeh aesthetic sartorial bushwick selvage YOLO chartreuse synth kombucha bitters. Man bun williamsburg kogi umami narwhal, biodiesel iPhone. 8-bit ugh synth cray irony, fingerstache affogato. Tumblr yr affogato, neutra bushwick pour-over +1 XOXO readymade offal plaid yuccie cray. Synth readymade 90's meh 3 wolf moon, normcore sriracha franzen yuccie wolf. You probably haven't heard of them meggings lumbersexual
                </p>
            </div>
            <div class="col-md-6 col-sm-6 wow fadeIn" data-wow-delay=".2s">
                <%= image_tag("https://static.pexels.com/photos/7369/startup-photos.jpg", width:"500px", height:"300px") %>
            </div>
        </div>
        <div class="row content-row">
            <div class="col-md-6 col-sm-6 wow fadeIn" data-wow-delay=".2s">
                <%= image_tag("https://static.pexels.com/photos/28756/pexels-photo.jpg", width: "500px", height:"300px") %>
            </div>
            <div class="col-md-6 col-sm-6 wow fadeIn" data-wow-delay=".4s">
                <h3 class="process-header">Revenue Model</h3>
                <p>
                    Keytar meditation meggings vegan, keffiyeh aesthetic sartorial bushwick selvage YOLO chartreuse synth kombucha bitters. Man bun williamsburg kogi umami narwhal, biodiesel iPhone. 8-bit ugh synth cray irony, fingerstache affogato. Tumblr yr affogato, neutra bushwick pour-over +1 XOXO readymade offal plaid yuccie cray. Synth readymade 90's meh 3 wolf moon, normcore sriracha franzen yuccie wolf. You probably haven't heard of them meggings lumbersexual
                </p>
            </div>
        </div>
    </div>
</section>
<section id="work" class="bg-gray">
    <div class="container text-center wow fadeIn">
        <h2>Our Work</h2>
        <hr class="colored">
        <p>Examples of our work which represent our fundraising capabilities.</p>
    </div>
</section>
<section class="portfolio-carousel wow fadeIn">
    <div class="item" style="background-image: url(<%=asset_path('portfolio/bg-2.jpg')%>)">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-md-push-8">
                    <div class="project-details">
                        <img src="<%=asset_path('client-logos/logo-2.png')%>" class="img-responsive client-logo" alt="">
                        <span class="project-name">Project Name</span>
                        <span class="project-description">Branding, Website Design</span>
                        <hr class="colored">
                        <a href="#portfolioModal2" data-toggle="modal" class="btn btn-outline-light">View Details <i class="fa fa-long-arrow-right fa-fw"></i></a>
                    </div>
                </div>
                <div class="col-md-8 col-md-pull-4 hidden-xs">
                    <img src="<%=asset_path('portfolio/tablet-screens.png')%>" class="img-responsive portfolio-image" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="item" style="background-image: url('<%=asset_path('portfolio/bg-3.jpg')%>">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-md-push-8">
                    <div class="project-details">
                        <img src="<%=asset_path('client-logos/logo-1.png')%>" class="img-responsive client-logo" alt="">
                        <span class="project-name">Project Name</span>
                        <span class="project-description">Branding, Website Design</span>
                        <hr class="colored">
                        <a href="#portfolioModal3" data-toggle="modal" class="btn btn-outline-light">View Details <i class="fa fa-long-arrow-right fa-fw"></i></a>
                    </div>
                </div>
                <div class="col-md-8 col-md-pull-4 hidden-xs">
                    <img src="<%=asset_path('portfolio/mobile-screens.png')%>" class="img-responsive portfolio-image" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="item" style="background-image: url('<%=asset_path('portfolio/bg-4.jpg')%>">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-md-push-8">
                    <div class="project-details">
                        <img src="<%=asset_path('client-logos/logo-2.png')%>" class="img-responsive client-logo" alt="">
                        <span class="project-name">Project Name</span>
                        <span class="project-description">Branding, Website Design</span>
                        <hr class="colored">
                        <a href="#portfolioModal4" data-toggle="modal" class="btn btn-outline-light">View Details <i class="fa fa-long-arrow-right fa-fw"></i></a>
                    </div>
                </div>
                <div class="col-md-8 col-md-pull-4 hidden-xs">
                    <img src="<%=asset_path('portfolio/tablet-screens.png')%>" class="img-responsive portfolio-image" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container text-center wow fadeIn">
        <h2>Product Offerings</h2>
        <hr class="colored">
        <p>We offer a mix of products to meet your campaign's needs</p>
        <div class="row">
            <div class="col-lg-12">
                <div id="portfoliolist">
                    <div class="portfolio identity" data-cat="identity" href="#portfolioModal1" data-toggle="modal">
                        <div class="portfolio-wrapper">
                            <%= image_tag("http://media02.hongkiat.com/2013-calendar-designs/Think_Positive_2013_Calendar.jpg") %>
                            <div class="caption">
                                <div class="caption-text">
                                    <a class="text-title">Calendars</a>
                                </div>
                                <div class="caption-bg"></div>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio web" data-cat="web" href="#portfolioModal2" data-toggle="modal">
                        <div class="portfolio-wrapper">
                            <%= image_tag("https://img0.etsystatic.com/036/0/8439163/il_fullxfull.526486334_omzq.jpg") %>
                            <div class="caption">
                                <div class="caption-text">
                                    <a class="text-title">Holiday Cards</a>
                                </div>
                                <div class="caption-bg"></div>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio graphic" data-cat="graphic" href="#portfolioModal3" data-toggle="modal">
                        <div class="portfolio-wrapper">
                            <%= image_tag("http://www.omghowcheap.co.uk/ekmps/shops/omghowcheap/images/manuscript-book-notepad-jotter-book-spiral-bound-a5-80-page-1613-p.jpg") %>
                            <div class="caption">
                                <div class="caption-text">
                                    <a class="text-title">Notepads</a>
                                </div>
                                <div class="caption-bg"></div>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio web" data-cat="web" href="#portfolioModal4" data-toggle="modal">
                        <div class="portfolio-wrapper">
                            <img src="<%=asset_path('portfolio/address-label.jpg')%>" alt="">
                            <div class="caption">
                                <div class="caption-text">
                                    <a class="text-title">Address Labels</a>
                                </div>
                                <div class="caption-bg"></div>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio graphic" data-cat="graphic" href="#portfolioModal1" data-toggle="modal">
                        <div class="portfolio-wrapper">
                            <img src="<%=asset_path('portfolio/sweepstakes.jpg')%>" alt="">
                            <div class="caption">
                                <div class="caption-text">
                                    <a class="text-title">Sweepstakes</a>
                                </div>
                                <div class="caption-bg"></div>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio graphic" data-cat="graphic" href="#portfolioModal1" data-toggle="modal">
                        <div class="portfolio-wrapper">
                            <img src="<%=asset_path('portfolio/custom-solution.jpg')%>" alt="">
                            <div class="caption">
                                <div class="caption-text">
                                    <a class="text-title">Custom Solution</a>
                                </div>
                                <div class="caption-bg"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="testimonials bg-gray">
    <div class="container wow fadeIn">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="testimonials-carousel">
                    <div class="item">
                        <div class="row">
                            <div class="col-lg-12">
                                <p class="lead">"Working with Victory-360 Fundraising was both a valuable and rewarding experience."</p>
                                <hr class="colored">
                                <p class="quote">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, temporibus, laborum, dignissimos doloremque corporis alias nostrum recusandae culpa id quisquam harum impedit sed sunt non obcaecati vero ipsam aut fugit?</p>
                                <div class="testimonial-info">
                                    <div class="testimonial-img">
                                        <img src="<%=asset_path('testimonials/1.jpg')%>" class="img-circle img-responsive" alt="">
                                    </div>
                                    <div class="testimonial-author">
                                        <span class="name">Jim Walker</span>
                                        <p class="small">CEO of GeneriCorp</p>
                                        <div class="stars">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-lg-12">
                                <p class="lead">"Working with Vitality was both a valuable and rewarding experience."</p>
                                <hr class="colored">
                                <p class="quote">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, temporibus, laborum, dignissimos doloremque corporis alias nostrum recusandae culpa id quisquam harum impedit sed sunt non obcaecati vero ipsam aut fugit?</p>
                                <div class="testimonial-info">
                                    <div class="testimonial-img">
                                        <img src="<%=asset_path('testimonials/1.jpg')%>" class="img-circle img-responsive" alt="">
                                    </div>
                                    <div class="testimonial-author">
                                        <span class="name">Jim Walker</span>
                                        <p class="small">CEO of GeneriCorp</p>
                                        <div class="stars">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="blog">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-lg-12 wow fadeIn">
                <h1>Our Blog</h1>
                <p>our corner of the internet where we share our experiences in the world of fundraising for veterans</p>
                <hr class="colored">
            </div>
        </div>
        <div class="row content-row">
            <% @posts.each do |post| %>
                <div class="col-md-4 col-sm-4">
                    <div class="col-md-6 col-sm-6">
                        <%= image_tag(post.image) %>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <h4><%= post.title %></h4>
                        <%= truncate(post.content, escape:false, length: 120){ link_to "read more", post.url, target: "_blank"} %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</section>
<aside class="cta-quote no-padding" style="background-image: url('https://cftaskforce.files.wordpress.com/2016/01/american-flag-1.jpg')">
    <div class="container wow fadeIn">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h2>100% Made in America</h2>
                <span class="quote">
                    We never outsource any part of a job overseas. You can expect a quality product delivered on time. <span class="text-primary">Guaranteed.</span>
                </span>
            </div>
        </div>
    </div>
</aside>
<section id="contact">
    <div class="container wow fadeIn">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Contact Us</h2>
                <hr class="colored">
                <p>Please tell us about your next project and we will let you know what we can do to help you.</p>
            </div>
        </div>
        <div class="row content-row">
            <div class="col-lg-8 col-lg-offset-2">
                <form name="sentMessage" id="contactForm" novalidate>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Name</label>
                            <input type="text" class="form-control" placeholder="Name" id="name" required data-validation-required-message="Please enter your name.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Email Address</label>
                            <input type="email" class="form-control" placeholder="Email Address" id="email" required data-validation-required-message="Please enter your email address.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Phone Number</label>
                            <input type="tel" class="form-control" placeholder="Phone Number" id="phone" required data-validation-required-message="Please enter your phone number.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Message</label>
                            <textarea rows="5" class="form-control" placeholder="Message" id="message" required data-validation-required-message="Please enter a message."></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-outline-dark">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Portfolio Modals -->
<!-- Example Modal 1 -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true" style="background-image: url('<%=asset_path('portfolio/bg-1.jpg')%>'">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <img src="<%=asset_path('client-logos/logo-1.png')%>" class="img-responsive img-centered" alt="">
                        <h2>Project Title</h2>
                        <hr class="colored">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos modi in tenetur vero voluptatum sapiente dolores eligendi nemo iste ea. Omnis, odio enim sint quam dolorum dolorem. Nostrum, minus, ad.</p>
                    </div>
                    <div class="col-lg-12">
                        <img src="<%=asset_path('portfolio/mobile-screens.png')%>" class="img-responsive img-centered" alt="">
                    </div>
                    <div class="col-lg-8 col-lg-offset-2">
                        <ul class="list-inline item-details">
                            <li>Client: <strong><a href="http://startbootstrap.com">Start Bootstrap</a></strong>
                            </li>
                            <li>Date: <strong><a href="http://startbootstrap.com">April 2015</a></strong>
                            </li>
                            <li>Service: <strong><a href="http://startbootstrap.com">Web Development</a></strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Example Modal 2 -->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true" style="background-image: url(<%=asset_path('portfolio/bg-2.jpg')%>">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <img src="<%=asset_path('client-logos/logo-2.png')%>" class="img-responsive img-centered" alt="">
                        <h2>Project Title</h2>
                        <hr class="colored">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos modi in tenetur vero voluptatum sapiente dolores eligendi nemo iste ea. Omnis, odio enim sint quam dolorum dolorem. Nostrum, minus, ad.</p>
                    </div>
                    <div class="col-lg-12">
                        <img src="<%=asset_path('portfolio/tablet-screens.png')%>" class="img-responsive img-centered" alt="">
                    </div>
                    <div class="col-lg-8 col-lg-offset-2">
                        <ul class="list-inline item-details">
                            <li>Client: <strong><a href="http://startbootstrap.com">Start Bootstrap</a></strong>
                            </li>
                            <li>Date: <strong><a href="http://startbootstrap.com">April 2015</a></strong>
                            </li>
                            <li>Service: <strong><a href="http://startbootstrap.com">Web Development</a></strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Example Modal 3 -->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true" style="background-image: url(<%=asset_path('portfolio/bg-3.jpg')%>">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <img src="<%=asset_path('client-logos/logo-1.png')%>" class="img-responsive img-centered" alt="">
                        <h2>Project Title</h2>
                        <hr class="colored">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos modi in tenetur vero voluptatum sapiente dolores eligendi nemo iste ea. Omnis, odio enim sint quam dolorum dolorem. Nostrum, minus, ad.</p>
                    </div>
                    <div class="col-lg-12">
                        <img src="<%=asset_path('portfolio/mobile-screens.png')%>" class="img-responsive img-centered" alt="">
                    </div>
                    <div class="col-lg-8 col-lg-offset-2">
                        <ul class="list-inline item-details">
                            <li>Client: <strong><a href="http://startbootstrap.com">Start Bootstrap</a></strong>
                            </li>
                            <li>Date: <strong><a href="http://startbootstrap.com">April 2015</a></strong>
                            </li>
                            <li>Service: <strong><a href="http://startbootstrap.com">Web Development</a></strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Example Modal 4 -->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true" style="background-image: url(<%=asset_path('portfolio/bg-4.jpg')%>">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <img src="<%=asset_path('client-logos/logo-2.png')%>" class="img-responsive img-centered" alt="">
                        <h2>Project Title</h2>
                        <hr class="colored">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos modi in tenetur vero voluptatum sapiente dolores eligendi nemo iste ea. Omnis, odio enim sint quam dolorum dolorem. Nostrum, minus, ad.</p>
                    </div>
                    <div class="col-lg-12">
                        <img src="<%=asset_path('portfolio/tablet-screens.png')%>" class="img-responsive img-centered" alt="">
                    </div>
                    <div class="col-lg-8 col-lg-offset-2">
                        <ul class="list-inline item-details">
                            <li>Client: <strong><a href="http://startbootstrap.com">Start Bootstrap</a></strong>
                            </li>
                            <li>Date: <strong><a href="http://startbootstrap.com">April 2015</a></strong>
                            </li>
                            <li>Service: <strong><a href="http://startbootstrap.com">Web Development</a></strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
