<!DOCTYPE html>
<html>
<head>
  <title>Victory Funding</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <!-- Default Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,600,500,700,800,900' rel='stylesheet' type='text/css'>
  <!-- IE8 support for HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
</head>

<body class="<%= controller_name %> <%= action_name %>">
  <nav class="navbar navbar-outline">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to "Admin Home", admin_path, class: "navbar-brand" %>
      </div>
    </div>
  </nav>

  <div class="container">
    <% flash.each do |key, value| %>
      <% css_class = key == "notice" ? "info" : "danger" %>
      <div class="alert alert-<%= css_class %> alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= value %>
      </div>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
